.App {
  text-align: center;
  text-align-last: left;
  font-size: x-large;
}
.picture1 {
  max-width: 115rem;
  max-height: 40rem;
}
.picture2 {
  margin-left: 20rem;
}
.picture3 {
  margin-left: 20rem;
}

.line {
  color: gray;
}
.Website {
  size-adjust: 768px;
}
.content {
  margin-left: 8cm;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media screen and (min-width: 300px) {
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
